/* your styles go here */
#content .thumbnail {
	border: 0;
}

#content .thumbnail .caption {
	text-align: center;
}

.homepage.owl-carousel .subtitle {
	font-size: 24px;
	color: white;
}

.homepage.owl-carousel .subtitle a {
	text-decoration: underline;
}

.box-image-text .image {
	min-height: 200px;
	max-height: 200px;
}

.box-simple {
	min-height: 230px;
}

img.img50 {
	margin: auto;
	max-width: 50%;
	height: auto;
	display: block;
}

footer#footer {
	padding: 20px 0;	
}

footer#footer .social a {
	font-size: 30px;
	color: white;
}

div#copyright {
	padding: 20px 0;
}

div.recipe-stats {
	margin-bottom: 10px;
	line-height: 40px;
}

div.recipe-stats span {
	margin-right: 15px;
	white-space: nowrap;
}

img.recipe-right {
	float: right;
	margin: 0 0 20px 20px;
	max-width: 40%;
}

@media (min-width:1200px){
    .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
    .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
    .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
    .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}

div#home-carousel {
	height: 300px;
}

div#home-carousel div.carousel-inner {
	height: 100%;
}

div#home-carousel div.carousel-inner div.item {
	height: 100%;
}

div#home-carousel div.carousel-image {
	background-repeat: repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100%;
}

div#home-carousel .item .carousel-caption {
	text-align: right;
	top: 40px;
	right: 10%;
}

div#home-carousel .item h2 {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: 0.08em;
}

div#home-carousel .item span.subtitle {
	font-size: 24px;
}

div#home-carousel .item span.subtitle a {
	text-decoration: underline;
}

div#home-carousel .item h2, div#home-carousel .item span.subtitle {
	background-color: white;
	color: #333333;
	display: inline;
	padding: 0 10px;
	text-shadow: none;
	text-align: right;
}
