<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}  
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W76RFF7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="all">
        <header>{{ partial "nav.html" . }}</header>
        
        {{ block "main" . }}
        {{ end }}

        {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
