<div class="modal fade" id="affiliateDisclosure" tabindex="-1" role="dialog" aria-labelledby="Disclosure">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Disclosure</h4>
      </div>
      <div class="modal-body">
        <p>Some of the links below are affiliate links, which means that if you click on a product link, I may receive compensation (at no additional cost to you). This compensation helps me create new content and test new recipes, and as always I only recommend products I trust!</p>

        <p>Geneviève Masson is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
