<section>
    <div id="home-carousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            {{ range sort .Site.Data.carousel "weight" }}
                <li data-target="#home-carousel" data-slide-to="{{ .weight }}" {{ if eq .weight 0 }} class="active"{{ end }}></li>
            {{ end }}
        </ol>

        <div class="carousel-inner" role="listbox">
            {{ range sort .Site.Data.carousel "weight" }}
            <div class="item{{ if eq .weight 0 }} active{{ end }}">
                <div class="carousel-image" style="background-image:url('img/carousel/{{ .image  }}')"></div>
                <div class="carousel-caption">
                    <h2>{{ .title }}</h2>
                    <br/>
                    <span class="subtitle">{{ .description | safeHTML }}</a></span>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
