<footer id="footer">
    <div class="container">
        <div class="col-md-12">
            <h4>Follow us on...</h4>
            <div class="social">
                <a href="https://www.facebook.com/gourmethiking/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href="https://www.pinterest.com/gourmethiking/"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/gourmethiking"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer>

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            {{ if isset .Site.Params "copyright" }}
            <p class="pull-left">{{ .Site.Params.copyright | safeHTML }}</p>
            {{ end }}
        </div>
    </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
